@page
@model WebCosmetic.Areas_Staffs_Views_CRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Sanpham[0].Tensp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sanpham[0].Giaban)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sanpham[0].Nsx)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sanpham[0].Hsd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sanpham[0].MaloaiNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Sanpham) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Tensp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Giaban)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nsx)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hsd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaloaiNavigation.Maloai)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Masp">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Masp">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Masp">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
