@using WebCosmetic.Models
@{
    ViewData["Title"] = "Home Page";
    ImagePath imgSwiperBanner = new ImagePath();
    imgSwiperBanner._folder = "wwwroot/images/Long_ad/";
    var getSwiperImgPaths = imgSwiperBanner.collectAllImagePath();

    ImagePath imgSmallPortfolio = new ImagePath();
    imgSmallPortfolio._folder = "wwwroot/images/Small_portfolio/";
    List<string> getSmallPortfolioImg = imgSmallPortfolio.collectAllImagePath();
    List<string> longAdFlex = getSwiperImgPaths.Where(img => img.Contains("cham")).Take(2).ToList();

    ImagePath shortAdvert = new ImagePath();
    shortAdvert._folder = "wwwroot/images/Short_ad/";
    List<string> getShortAdvertImg = shortAdvert.collectAllImagePath();

    DataTransfer transfer = new DataTransfer();
    List<ProductCardModel> cleanser = transfer.getProductByType("SPSR");
    List<ProductCardModel> son = transfer.getProductByType("SPSM");
    List<ProductCardModel> sunscreen = transfer.getProductByType("SPCN");
    List<ProductCardModel> showerGel = transfer.getProductByType("SPST");
    List<ProductCardModel> banChay = transfer.collectRecommendProduct();
    List<ProductCardModel> toptk = transfer.collectRecommendProduct();

    Dictionary<string, List<ProductDataJson>> productData = ViewData["ProductDataJson"] as Dictionary<string, List<ProductDataJson>>;
}


<div class="position-absolute w-100" style="width: 25%" ;>

    <div class="w-50 h-50 position-relative advert_box mx-auto text-center" style="z-index: 20;">
        <a style="position:relative;float: right;right: -50px" onclick="closeAdBox()"><i class="fa fa-close fa-2x text-white"></i></a>
        <img src="~/images/Long_ad/for-girl-l-a.jpg" class="h-100 w-100" />
    </div>
    <script>
        const maskMenu = document.getElementById("mask_menu");
        maskMenu.style.display = 'block';
        function closeAdBox() {
            document.querySelector(".advert_box").style.display = "none";
            maskMenu.style.display = 'none';
        }
    </script>
</div>
<div class="row bg-info hot-sell shadow p-3 rounded ps-5 pe-5">
    <div class="container-fluid mx-auto">
        <div class="float-start w-50">
            <div class="d-flex justify-content-between" style="max-height: max-content;">
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuTop" data-bs-toggle="dropdown" aria-expanded="false">
                        Danh mục hot
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuTop">
                        <li><a class="dropdown-item" href="#">Sức khỏe làm đẹp</a></li>
                        <li><a class="dropdown-item" href="#">Spa & Clinic</a></li>
                        <li><a class="dropdown-item" href="#">Chăm sóc da mặt</a></li>
                    </ul>
                </div>
                |
                <div><a>Săn Deals Hời</a></div>
                <div><a>Seabeauty Spa</a></div>
                <div><a>Hàng mới về</a></div>
                <div><a href="#hotsale">Bán chạy</a></div>
            </div>
        </div>
        <div class="float-end w-50 text-end">
            <span><a>Tải app <i class="fa fa-mobile text-dark"></i></a></span> | <span>Tra cứu đơn hàng</span>
        </div>
        <div class="clear-fix">
        </div>
    </div>

</div>
<div class="shadow p-3 mb-5 rounded" >
    <div class="container-fluid mx-auto ps-5 pe-5">
        <div class="row advert_inventory">
            <div class="col-12 col-md-8 h-100">
                <div class="swiper-container rounded-1" id="swiper_advert">
                    <button class="swiper-button-prev"></button>
                    <div class="swiper-wrapper">
                        @foreach (var img in getSwiperImgPaths)
                        {
                            <div class="swiper-slide">
                                <a href="">
                                    <img class="w-100 h-100" src="~/images/Long_ad/@img" />
                                </a>
                            </div>
                        }
                        <!-- Thêm các slide khác nếu cần -->
                    </div>
                    <button class="swiper-button-next"></button>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
            <div class="col-12 col-md-4 h-50">
                <a href="" class="my-3">
                    <img class="h-50 w-100 mb-md-4 mb-5 mb-sm-5 mb-2" src="./images/SubBanner/sub-banner-1.jpg" />
                </a>
                <a href="">
                    <img class="h-50 w-100 mt-md-1 mt-sm-5 mt-0" src="./images/SubBanner/sub-banner-2.jpg" />
                </a>
            </div>
        </div>
        <div class="d-flex row justify-content-around ps-5 pe-5 align-items-md-center" style="width: 100%; max-height: 400px">
            @foreach (var img in getSmallPortfolioImg)
            {
                <div class="w-auto h-auto mb-1">
                    <a>
                        <img src="./images/Small_portfolio/@img" class="w-100 h-100" />
                    </a>
                </div>
            }

        </div>
    </div>
</div>

<div class="container">
    <div class="container-fluid mx-auto">
        <div class="inventory">
            <div class="title_inventory">
                <div class="event_sale float-start p-2 w-75">
                    <div class="d-flex">
                        <h4 class="text-warning"><i class="fa fa-bolt"></i>ĐANG DIỄN RA | </h4>
                        &nbsp;
                        <div>kết thúc trong </div>&nbsp;
                        <div class="time_sale">
                            <div class="days"></div><b>:</b>&nbsp;
                            <div class="hours"></div><b>:</b>&nbsp;
                            <div class="minutes"></div><b>:</b>&nbsp;
                            <div class="seconds"></div>
                        </div>
                    </div>
                </div>
                <div class="float-end w-25 text-end">
                    <button class="btn btn-warning mb-5">Xem tất cả</button>
                </div>
                <div class="clearfix">

                </div>
            </div>
            <div class="body_inventory">
                <div class="block_product_list w-100">
                    <div class="swiper-container rounded-1" id="swiper_cleanser">
                        <button class="swiper-button-next text-dark border-0"></button>
                        <div class="swiper-wrapper">
                            @foreach (var product in cleanser)
                            {
                                ProductDataJson dataOwn = new ProductDataJson();
                                foreach (var data in productData[product.masp.Substring(0, 4)].ToList())
                                {
                                    if (data.masp == product.masp)
                                    {
                                        dataOwn = data;
                                        break;
                                    }
                                }
                                <div class="swiper-slide">
                                    <ProductCard product-model="@product" data="dataOwn">

                                    </ProductCard>
                                </div>
                            }

                            <!-- Thêm các slide khác nếu cần -->
                        </div>
                        <button class="swiper-button-prev"></button>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="inventory" id="hotsale">
            <div class="title_inventory">
                <h3 class="my-3 fw-bold" style="font-family:'Times New Roman', Times, serif">Bán chạy</h3>
            </div>
            <div class="body_inventory">
                <div class="block_product_list w-100">
                    <div class="swiper-container rounded-1" id="swiper_hotsale">
                        <button class="swiper-button-next text-dark border-0"></button>
                        <div class="swiper-wrapper">
                            @foreach (var product in banChay)
                            {
                                ProductDataJson dataOwn = new ProductDataJson();
                                foreach (var data in productData[product.masp.Substring(0, 4)].ToList())
                                {
                                    if (data.masp == product.masp)
                                    {
                                        dataOwn = data;
                                        break;
                                    }
                                }
                                <div class="swiper-slide">
                                    <ProductCard product-model="@product" data="dataOwn">

                                    </ProductCard>
                                </div>
                            }
                            <!-- Thêm các slide khác nếu cần -->
                        </div>
                        <button class="swiper-button-prev"></button>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

            </div>
        </div>
        <partial name="_flexBrandPartial" model="@getShortAdvertImg"></partial>
        <div class="inventory">
            <div class="title_inventory">
                <h3 class="my-3 fw-bold" style="font-family:'Times New Roman', Times, serif">Son môi chính hãng</h3>
            </div>
            <div class="body_inventory">
                <div class="block_product_list w-100">
                    <div class="swiper-container rounded-1" id="swiper_lipstick">
                        <button class="swiper-button-next text-dark border-0"></button>
                        <div class="swiper-wrapper">
                            @foreach (var product in son)
                            {
                                ProductDataJson dataOwn = new ProductDataJson();
                                foreach (var data in productData[product.masp.Substring(0, 4)].ToList())
                                {
                                    if (data.masp == product.masp)
                                    {
                                        dataOwn = data;
                                        break;
                                    }
                                }
                                <div class="swiper-slide">
                                    <ProductCard product-model="@product" data="dataOwn">

                                    </ProductCard>
                                </div>
                            }

                        </div>
                        <button class="swiper-button-prev"></button>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="_flexBrandPartial" model="@longAdFlex"></partial>
        <div class="inventory">
            <div class="title_inventory">
                <h3 class="my-3 fw-bold" style="font-family:'Times New Roman', Times, serif">Top tìm kiếm</h3>
            </div>
            <div class="body_inventory">
                <div class="block_product_list w-100">
                    <div class="swiper-container rounded-1" id="swiper_lipstick">
                        <button class="swiper-button-next text-dark border-0"></button>
                        <div class="swiper-wrapper">
                            @foreach (var product in toptk)
                            {
                                ProductDataJson dataOwn = new ProductDataJson();
                                foreach (var data in productData[product.masp.Substring(0, 4)].ToList())
                                {
                                    if (data.masp == product.masp)
                                    {
                                        dataOwn = data;
                                        break;
                                    }
                                }
                                <div class="swiper-slide">
                                    <ProductCard product-model="@product" data="dataOwn">

                                    </ProductCard>
                                </div>
                            }

                        </div>
                        <button class="swiper-button-prev"></button>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="inventory">
            <div class="title_inventory">
                <h3 class="my-3 fw-bold" style="font-family:'Times New Roman', Times, serif">Gợi ý cho bạn</h3>
            </div>
            <div class="body_inventory">
                <div class="block_product_list w-100">
                    <div class="swiper-container rounded-1" id="swiper_general_sunscreen">
                        <button class="swiper-button-next text-dark border-0"></button>
                        <div class="swiper-wrapper">
                            @foreach (var product in sunscreen)
                            {
                                ProductDataJson dataOwn = new ProductDataJson();
                                foreach (var data in productData[product.masp.Substring(0, 4)].ToList())
                                {
                                    if (data.masp == product.masp)
                                    {
                                        dataOwn = data;
                                        break;
                                    }
                                }
                                <div class="swiper-slide">
                                    <ProductCard product-model="@product" data="dataOwn">

                                    </ProductCard>
                                </div>
                            }
                            <!-- Thêm các slide khác nếu cần -->
                        </div>
                        <button class="swiper-button-prev"></button>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
                <div class="my-2"></div>
                <div class="block_product_list w-100">
                    <div class="swiper-container rounded-1" id="swiper_general_showergel">
                        <button class="swiper-button-next text-dark border-0"></button>
                        <div class="swiper-wrapper">
                            @foreach (var product in showerGel)
                            {
                                ProductDataJson dataOwn = new ProductDataJson();
                                foreach (var data in productData[product.masp.Substring(0, 4)].ToList())
                                {
                                    if (data.masp == product.masp)
                                    {
                                        dataOwn = data;
                                        break;
                                    }
                                }
                                <div class="swiper-slide">
                                    <ProductCard product-model="@product" data="dataOwn">

                                    </ProductCard>
                                </div>
                            }
                            <!-- Thêm các slide khác nếu cần -->
                        </div>
                        <button class="swiper-button-prev"></button>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<button type="button" class="btn" id="chatZoom" data-bs-toggle="tooltip" data-bs-placement="top" title="Chatbox tư vấn !">
    <i class="far fa-comment-dots fs-2">
    </i>
</button>
<div id="boxChat" class="rounded">
    <div class="chat_option">
        <div class="float-start">
            <a href="tel:1800600"><i class="fa fa-phone text-white"></i></a>
            &nbsp;
        </div>
        <div class="float-end">
            <a onclick="dropChat()"><i class="close_chatBox fa fa-close"></i></a>
        </div>
        <div class="clearfix">
        </div>
    </div>
    <div id="chat_content">
        <div class="chat_line">
            <div class="reciever float-start">
                <span><img src="~/images/logo/logo_header.png" style="width: 20px; height: 20px" />SeaBeauty</span>
                <p class="text-replied p-1 rounded-1 bg-info">Chào bạn, nếu có thắc mắc hãy hỏi tôi nhé !</p>
            </div>
            <div class="clearfix">
            </div>

        </div>

    </div>
    <div id="chat_input">
        <form class="d-flex" id="chatForm">
            <input type="text" class="form-control askForChat" placeholder="Nhập để hỏi" />
            <button class="btn btn-outline-info" onclick="sendTextChat(this.parentNode.querySelector('input[type=text]').value)"><i class="fas fa-paper-plane" aria-hidden="true"></i></button>
        </form>
    </div>
</div>
<div class="position-fixed bottom-5 end-0 p-3">
    <div id="informOverSale" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">Thông báo</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            Sự kiện siêu sale hot đã kết thúc
        </div>
    </div>
</div>