@page "/add-role-claim/{roleid}"
@model WebCosmetic.Admins.claim.AddRoleClaimsModel
@{
    Layout = "../../../../Views/Shared/_Layout.cshtml";
}

<h1>Thêm thông tin claim của @Model.role.Name</h1>
<partial name="./_StatusMessage.cshtml" model="@Model.statusMessage"></partial>
<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger">
        ModelState.WebCosmetic
    </div>
    <div class="form-group">
        <label asp-for="@Model.input.ClaimType"></label>
        <input asp-for="@Model.input.ClaimType" />
        <span asp-validation-for="@Model.input.ClaimType" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.input.ClaimValue"></label>
        <input asp-for="@Model.input.ClaimValue" />
    </div>
    <div class="form-group">
        <button class="btn btn-success" type="submit">Submit</button>
    </div>
</form>
