@using Newtonsoft.Json
@using Microsoft.AspNetCore.Identity
@using System.Text
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService authService
@inject SignInManager<CosmeticModel> signIn
@inject UserManager<CosmeticModel> userManager
@model ProductDetailsModel
@{
    var transfer = new DataTransfer();
    var collectRecommendProduct = transfer.collectRecommendProduct();
    Random randIndex = new Random();

    var productDataView = ViewData["ProductDataView"] as ProductDataJson;
    ProductCart.DetailsCart detailsCart = new ProductCart.DetailsCart();
    detailsCart.tensp = Model.productModel.tensp;
    detailsCart.masp = Model.productModel.masp;
    detailsCart.tencongty = Model.productModel.tencongty;
    detailsCart.giabanmoi = Model.productModel.giabanmoi;
    detailsCart.giaban = Model.productModel.giaban;
    string toJson = JsonConvert.SerializeObject(detailsCart);
}
<nav class="mx-5 ml-5" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/Home/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Library</li>
    </ol>
</nav>
<div id="main_details_block">
    <div class="w-100 h-100">
        <div class="row">
            <div class="col-12 col-md-10">
                <div class="details_frame">
                    <div class="pictures_side">
                        <div class="animate_picture">
                            <div class="pic_small_list">
                                <div style="width: 100%; height: 50px;margin-bottom:10px; background-color: red;">
                                </div>
                                <div style="width: 100%; height: 50px;margin-bottom:10px; background-color: red;">
                                </div>
                                <div style="width: 100%; height: 50px;margin-bottom:10px; background-color: red;">
                                </div>
                                <div style="width: 100%; height: 50px;margin-bottom:10px; background-color: red;">
                                </div>
                                <div style="width: 100%; height: 50px;margin-bottom:10px; background-color: red;">
                                </div>
                                <div style="width: 100%; height: 50px;margin-bottom:10px; background-color: red;">
                                </div>
                                <div style="width: 100%; height: 50px;margin-bottom:10px; background-color: red;">
                                </div>
                            </div>
                            <div class="main_pic">
                                <img src="~/images/SanPham/@productDataView.imgUrl" class="h-100 w-100" alt="">
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="real_picture">
                        </div>
                        <div class="interact_box f-start mt-2">
                            <div class="fb-like-share">
                                <span>
                                    <a href=""><i class="fa fa-thumbs-up"></i>Thích</a>
                                </span>
                                <span>
                                    <a href=""><i class="fa fa-share"></i>Chia sẻ</a>
                                </span>
                            </div>
                            <div class="add_to_enjoy">
                                <a href="">
                                    <i class="fa fa-heart"></i> Thêm vào yêu thích
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="got_product_side">
                        <div class="product_info_price">
                            <div class="product_name">
                                <div class="title_brand">@Model.productModel.tencongty</div>
                                <h4>
                                    <span> @Model.productModel.tensp</span><br>
                                </h4>
                            </div>
                            <div class="product_brand">
                                <div class="code_regis">
                                    Đã đăng kí với BYT/BVHDB
                                </div>
                                <div class="fast_reviews">
                                    <p>
                                        <span>
                                            <i class="fa fa-feedback"></i>
                                            @Model.productModel.sophanhoi đánh giá |
                                        </span>
                                        <span>800 hỏi đáp | </span>
                                        <span>Mã sản phẩm: @Model.productModel.masp</span>
                                    </p>
                                </div>
                            </div>
                            <div class="box_price">
                                <div class="flash_sale">
                                    <div>
                                        <i class="fa fa-thunder"></i>
                                    </div>
                                    <div></div>
                                </div>
                                <div class="price_info">
                                    <div class="current_price">
                                        @Model.productModel.giaban.ToString("N2") <span class="text-decoration-underline text-warning">đ</span> (Đã bao gồm VAT)
                                    </div>
                                    <div class="origin_price">
                                        Giá gốc: @Model.productModel.giabanmoi.ToString("N2") đ. Tiết kiệm @Model.tietKiem đ
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="gift_box">
                            <div class="item_gift_list">
                                <div>
                                    <i class="fa fa-gift text-warning"></i> Tặng sản phẩm
                                </div>
                            </div>
                            <div class="item_gift_box">
                                <div class="gift_info">
                                    <img src="~/images/SanPham/@productDataView.anhQuaTang" class="h-100" style="height: 15%" alt="">
                                    <p style="">@productDataView.tenQua</p>
                                </div>
                            </div>
                        </div>
                        <div class="add_to_cart">
                            <div class="set_quantity">
                                <label for="quantity_buyed">Số lượng mua: </label>
                                <input type="number" class="medium-size" value="1" min="1" max="10" name="slmua" id="slmua">
                            </div>
                            @if (signIn.IsSignedIn(this.User))
                            {

                                <a id="btnMua" class="text-decoration-none btn btn-success fw-bold mt-3" href="/ShoppingCart/IndexCart?productCartEncode=@Convert.ToBase64String(Encoding.UTF8.GetBytes(toJson))&userid=@userManager.GetUserId(this.User)&slmua=" onclick="addSlMua()"><i class="fa fa-cart-plus"></i>&nbsp;Giỏ hàng</a>

                            }
                            else
                            {
                                <a id="btnMua" class="text-decoration-none btn btn-success fw-bold mt-3" asp-area="Identity" asp-page="/Account/Login"><i class="fa fa-cart-plus"></i>&nbsp;Đăng nhập để mua</a>

                            }
                        </div>
                        <div class="buyed_options" style="height: 60px;">
                            <div class="store_site btn btn-outline-danger fit-size" style="width: 200px;">
                                <i class="fa fa-map"></i> 120/127 cửa hàng còn hàng
                            </div>
                        </div>
                        <div class="buy_more_promotion_box f-center">
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="details_frame">
                    <div class="details_nav_product w-100">
                        <div class="active_details_nav"><a href="" style="color: inherit;">Thông tin sản phẩm</a></div>
                        <div><a href="#thongSo">Thông số sản phẩm</a></div>
                        <div>
                            <a href="#thanhPhan">Thành phần</a>
                        </div>
                        <div>
                            <a href="#cachDung">Cách dùng</a>
                        </div>
                        <div>
                            <a href="#danhGia">Đánh giá</a>
                        </div>
                    </div>
                    <div id="ct_box_details">
                        <div class="main_content_details overflow-hidden-y">
                            <div>
                                <p>
                                    @Html.Raw(productDataView.thongtin["TieuDe"])
                                </p>
                                <p><span>Tia UVA dài được mệnh danh là kẻ thù nguy hiểm nhất với làn da, bởi bước sóng lên đến 380nm-400nm, làm tổn thương những tế bào sâu dưới da. Với cường độ mạnh vào mùa hè, tia UVA dài sẽ gây ra những tác hại lâu dài như thâm nám, lão hóa da. </span></p>
                                <p>
                                    Thấu hiệu được nhu cầu tìm kiếm sản phẩm chống nắng có khả năng bảo vệ da trước tác hại của tia UVA dài, thương hiệu La Roche-Posay đã cho ra đời phiên bản <span><strong>UVMune 400 Oil Control Gel Cream</strong> -&nbsp;</span><span>kem chống nắng có màng lọc tiên tiến nhất thị trường Mexoryl 400.&nbsp;<span>Kết hợp cùng công nghệ Netlock tạo nên lớp lá chắn bền vững giúp bảo vệ da khỏi tia UVA dài nguy hiểm gây thâm nám.</span></span>
                                </p>
                                <p>
                                    Bên cạnh đó,&nbsp;<strong>kem chống nắng&nbsp;La Roche-Posay&nbsp;UVMune 400 Oil Control Gel Cream phiên bản mới&nbsp;</strong>được cải tiến với&nbsp;<span>nồng độ phần trăm hoạt </span><span>chất Airlicium được tăng lên, mang đến hiệu quả kiềm dầu tốt hơn đến 12h. Ngoài ra, sản phẩm còn có&nbsp;</span>kết
                                    cấu mới dễ tán, thấm nhanh không gây vón, mang lại cho bạn một lớp finish mịn lì và bóng khỏe tự nhiên.
                                </p>
                                <p>Hiện tại, <a href="" target="_blank">Hasaki</a> đang bán song song cả 2 phiên bản mới và cũ của kem chống nắng&nbsp;<strong>La Roche-Posay </strong>như sau:</p>
                                <ul>
                                    <li>
                                        <p><strong><strong>La Roche-Posay</strong>&nbsp;Anthelios UV Mune 400 Oil Control Gel-Cream:</strong> phiên bản mới cải tiến.</p>
                                    </li>
                                </ul>
                                <p>&nbsp;</p>

                                <ul>
                                    <li>
                                        <p><strong>La Roche-Posay Anthelios Dry Touch Finish Mattifying Effect:&nbsp;</strong>phiên bản cũ, bao gồm hai mẫu bao bì tiếng Đức và Ý.</p>
                                    </li>
                                </ul>

                                <h2 style="font-size: 17px!important;font-weight: bolder;">Loại da phù hợp:</h2>
                                @Html.Raw(productDataView.thongtin["LoaiDa"])
                                <h2 style="font-size: 17px!important;font-weight: bolder;">Giải pháp cho tình trạng da:</h2>
                                <ul>
                                    <li>
                                        <p><a href="" target="_blank">Da dầu thừa - lỗ chân lông to</a>.</p>
                                    </li>
                                    <li>
                                        <p>Da mụn hoặc dễ nổi mụn do bít tắc lỗ chân lông.</p>
                                    </li>
                                </ul>
                                <h2 style="font-size: 17px!important;font-weight: bolder;">Ưu điểm nổi bật:</h2>
                                @Html.Raw(productDataView.thongtin["LoiIch"])
                                <h2 style="font-size: 17px!important;font-weight: bolder;">Hiệu quả sử dụng:</h2>
                                <div>
                                    <ul>
                                        <li>
                                            <p>Giảm 25% bóng dầu chỉ sau 1 tuần.</p>
                                        </li>
                                        <li>
                                            <p>&gt; 83% tạo hiệu ứng lì 12h trên da.</p>
                                        </li>
                                        <li>
                                            <p>&gt; 97% không gây nhờn rít, bết dính sau 12h sử dụng.</p>
                                        </li>
                                        <li>
                                            <p>&gt; 98% không để lại vệt trắng trên da.</p>
                                        </li>
                                    </ul>
                                </div>
                                <div>
                                    <h2 style="font-size: 17px!important;font-weight: bolder;">Độ an toàn:</h2>
                                    <ul>
                                        <li>
                                            <p>Được kiểm nghiệm dưới sự giám sát của các chuyên gia da liễu.</p>
                                        </li>
                                        <li>
                                            <p>Không chứa hương liệu, không paraben, không gây bết dính, không để lại vệt trắng, lâu trôi khi sử dụng dưới nước và không gây mụn trứng cá.</p>
                                        </li>
                                        <li>
                                            <p>Tuyệt đối an toàn với da, đặc biệt là da nhạy cảm.</p>
                                        </li>
                                    </ul>
                                </div>
                                <h2 style="font-size: 17px!important;font-weight: bolder;">Bảo quản:</h2>
                                @Html.Raw(productDataView.thongtin["BaoQuan"])

                            </div>
                            </ul>
                        </div>
                        <div class="block_expand_details">
                            <a onclick="expandInfo(this)" class="btn btn-outline-success">
                                <span>
                                    Xem thêm nội
                                    dung <span class="text-white"><i class="fa fa-angle-double-down"></i></span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="details_frame" id="thongSo">
                    <table class="table table-hover w-75" cell-spacing="5px" border="1">
                        <tr>
                            <th>
                                Xuất xứ
                            </th>

                            <th>
                                Thương hiệu
                            </th>

                            <th>
                                Nơi sản xuất
                            </th>

                            <th>
                                Đặc tính
                            </th>

                            <th>
                                Vấn đề về da
                            </th>
                        </tr>
                        <tr>
                            @foreach (var i in productDataView.xuatXu)
                            {
                                <td>@i.Value</td>
                            }
                        </tr>
                    </table>
                </div>
                <div class="details_frame p-3" id="thanhPhan">
                    <h4>Thành phần</h4>
                    <ul style="list-style-type: circle; margin-left: 10px;">
                    </ul>
                    <h6>Chi tiết thành phần</h6>
                    <div>
                        Thành phần chỉnh:
                        @Html.Raw(productDataView.thanhphan["Thanhphanchinh"])
                    </div>
                    <p class="text-justify">
                        <strong>Thành phần phụ: </strong>
                        @productDataView.thanhphan["Thanhphanphu"]
                    </p>
                </div>

                <div class="details_frame" id="cachDung">
                    <h4>Cách dùng</h4>
                    @Html.Raw(productDataView.huongdan)
                </div>

                <div class="details_frame" id="danhGia">
                    <h4>Đánh giá trung bình</h4>
                    <div class="row">
                        <div class="col-sm-3">
                            <div id="aver_reviews" class="text-center h-100">
                                <div class="aver_num">
                                    4.6
                                </div>
                                <div class="aver_show">
                                    <div class="fs-6 d-flex justify-content-center mb-2">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="total_fb text-center">
                                        Có @Model.productModel.sophanhoi lượt phản hồi
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 text-left">
                            <div class="progress_five_star f-start mb-2">
                                <span style="margin-top: -4px;">5 sao</span>&nbsp;
                                <div class="progress w-50">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="54" aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>&nbsp;
                                <span style="margin-top: -4px;">Rất hài lòng</span>
                            </div>
                            <div class="progress_five_star f-start mb-2">
                                <span style="margin-top: -4px;">4 sao</span>&nbsp;
                                <div class="progress w-50">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="32" aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>&nbsp;
                                <span style="margin-top: -4px;">Hài lòng</span>
                            </div>
                            <div class="progress_five_star f-start mb-2">
                                <span style="margin-top: -4px;">3 sao</span>&nbsp;
                                <div class="progress w-50">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>&nbsp;
                                <span style="margin-top: -4px;">Bình thường</span>
                            </div>
                            <div class="progress_five_star f-start mb-2">
                                <span style="margin-top: -4px;">2 sao</span>&nbsp;
                                <div class="progress w-50">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>&nbsp;
                                <span style="margin-top: -4px;">Không hài lòng</span>
                            </div>
                            <div class="progress_five_star f-start mb-2">
                                <span style="margin-top: -4px;">1 sao</span>&nbsp;
                                <div class="progress w-50">
                                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">25%</div>
                                </div>&nbsp;
                                <span style="margin-top: -4px;">Rất tệ</span>
                            </div>
                        </div>
                        <div class="col-sm-3 text-center">
                            Chia sẻ nhận xét của bạn
                            <button class="btn btn-danger fs-6 p-2 fw-bold text-white">Viết nhận xét</button>
                        </div>

                    </div>
                    <div id="about_fb">
                        <div class="filter_fb">
                            <button class="btn btn-outline-secondary medium-size dropdown-toggle" type="button" id="dropdownFilterButton" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fa fa-filter"></i>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownFilterButton">
                                <li><a class="dropdown-item" href="#">Theo ngày gần nhất</a></li>
                                <li><a class="dropdown-item" href="#">Phản hồi tốt nhất</a></li>
                                <li><a class="dropdown-item" href="#">Phản hồi tệ nhất</a></li>
                            </ul>

                            <div class="total_fb mx-3">
                                Có @Model.productModel.sophanhoi lượt phản hồi
                            </div>
                        </div>
                        <div id="blockContentFb">
                            <div class="block_content">
                                <div class="about_user">
                                    <div class="number_stars text-warning">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="text-primary">
                                        Kim ngân
                                    </div>
                                    <div class="product_name">
                                        @Model.productModel.tensp
                                    </div>
                                    <div class="buy_method">
                                        <i class="fa fa-check text-danger"></i>
                                        <span>Đã mua hàng online</span>
                                    </div>
                                </div>
                                <div class="fb_content">
                                    Hàng dufg ok, khong vo beHàng dufg ok, khong vo beHàng dufg ok, khong vo beHàng dufg ok, khong vo beHàng dufg ok, khong vo beHàng dufg ok, khong vo beHàng dufg ok, khong vo beHàng dufg ok, khong vo be
                                    <div class="post_time d-flex justify-content-end">
                                        Thời gian đăng: 13:11 - 1/1/2023
                                    </div>
                                </div>
                            </div>
                        </div>
                        <nav aria-label="Page navigation example" class="f-center">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div id="askRequest" class="details_frame">
                    <h4>Hỏi đáp</h4>
                    <div class="block_request">
                        <div class="f-start">
                            <span>Thanh Nga</span>&nbsp;&nbsp;
                            <span class="question_date text-muted">12/3/2019</span>
                        </div>
                        <div class="interact_question">
                            <div class="fw-bold">
                                Cho em hỏi còn hàng không ?
                            </div>
                            <div><i class="fa fa-thumbs-up"></i><span class="num_like"> - 10</span></div>
                        </div>
                        <div class="reply_block">
                            <div class="responder">
                                <div class="f-start">
                                    <span><b class="bg-primary text-white p-1">Sea Beauty</b></span>&nbsp;&nbsp;
                                    <span class="question_date text-muted">12/3/2019</span>
                                </div>
                                <div class="interact_question">
                                    <div class="fw-bold">
                                        Còn em nhé
                                    </div>
                                    <div><i class="fa fa-thumbs-up"></i><span class="num_like"> - 10</span></div>
                                </div>
                            </div>
                            <div class="sender">
                                <div class="f-start">
                                    <span>
                                        Thanh Nga</b>&nbsp;&nbsp;
                                        <span class="question_date text-muted">12/3/2019</span>
                                </div>
                                <div class="interact_question">
                                    <div class="fw-bold">
                                        Dạ
                                    </div>
                                    <div><i class="fa fa-thumbs-up"></i><span class="num_like"> - 10</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button class="btn btn-outline-primary p-1 f-center">Xem thêm &nbsp; <i class="fa fa-angle-double-down"></i></button>
                </div>
            </div>
            <div class="col-12 col-md-2 ml-3">
                <div class="flex-md-column overflow-x-auto flex-sm-wrap d-flex flex-sm-row">
                    @for (int i = 0; i < 4; i++)
                    {
                        var rmdProduct = collectRecommendProduct[randIndex.Next(0, collectRecommendProduct.Count() - 1)];
                        <div class="block_rmds">
                            <div class="card">
                                <img src="..." class="card-img-top" alt="...">
                                <div class="card-body">
                                    <div class="card-title">
                                        @rmdProduct.giabanmoi.ToString("N2") đ
                                        <span class="old-price float-start">@rmdProduct.giaban.ToString("N2") đ</span>
                                        <span class="discount float-end p-1 border-1 rounded">-@Math.Ceiling((1 - (double)rmdProduct.giabanmoi / (double)rmdProduct.giaban) * 100)%</span>
                                        <span class="clearfix"></span>
                                    </div>
                                    <div class="card-text">
                                        <h6>@rmdProduct.tensp</h6>
                                        <p class="short-info">
                                            {this.mota}
                                        </p>
                                        <span class="fb-star border-end" onclick="starLight(this)">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </span>&nbsp;
                                        <span class="buyed"><i class="fa fa-shopping-cart"></i>&nbsp;@rmdProduct.sldaban </span>

                                    </div>
                                </div>
                                <div class="card-footer">
                                    <div class="progress">
                                        <div style="width: @((((float)rmdProduct.sosao / 1000)*100).ToString() + '%')" class="progress-bar progress-bar-striped bg-info progress-bar-animated progress-bar-reverse" role="progressbar"
                                             aria-valuenow="@rmdProduct.sosao" aria-valuemin="0" aria-valuemax="700">
                                        </div>
                                        <span>@(Math.Floor(((float)rmdProduct.sosao / 1000)*100))% </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
    @section Scripts{
        <script src="~/js/details.js" asp-append-version="true"></script>
    }
