@page
@model WebCosmetic.Areas_Staffs_Views_CRUD.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Thông tin chi tiết về sản phẩm @Model.Sanpham.Masp - @Model.Sanpham.Tensp</h1>

<div class="container-fluid mx-auto">
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sanpham.Tensp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sanpham.Tensp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sanpham.Giaban)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sanpham.Giaban)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sanpham.Nsx)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sanpham.Nsx)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sanpham.Hsd)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sanpham.Hsd)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sanpham.MaloaiNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sanpham.MaloaiNavigation.Maloai)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Sanpham.Masp" class="btn btn-info w-25">Chỉnh sửa</a> |
    <a asp-page="./Index" class="text-info">Quay về trang quản lí sản phẩm</a>
</div>
