@model List<SuccessPayingModel>

@{
    List<HistoryProductBill> products = ViewData["HistoryProduct"] as List<HistoryProductBill>;
    int colWidth = (Model.Count) % 6;
}
<div class="row container-fluid mx-5 my-2">
    <div class="card-group">
        @foreach (var bill in Model)
        {
            <div class="card">
                <div class="card-header">
                    <span>Mã hóa đơn: @bill._bill._billCode</span>
                </div>
                <div class="card-subtitle">
                    <div>Phương thức: @bill._bill._methodPayment</div>
                    <div>Mã giao dịch / giao vận: @bill._bill._transactionCode</div>
                </div>
                <div class="card-body">
                    <div>Tên khách hàng: @bill._clientInfo._clienName</div>
                   @foreach(var product in products)
                {
                    <div class="p-1">@product._tenSp x @product._soluong - @product._giaban</div>
                }

                </div>
                <div class="footer text-muted">
                    Tổng thanh toán: @bill._bill._totalMoney
                </div>
            </div>
        }
    </div>
</div>
